/* Reset margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
}
  
/* Header styling */
.header-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 2;
}
  
/* Main container styling */
.container {
    position: relative;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
/* Background blur effect */
.background-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.8);
    width: 90vw;
    max-width: 600px;
    aspect-ratio: 1;
    /*filter: blur(1.1px);*/
    z-index: 1;
    pointer-events: none;
}

/* Board styling for background */
.board-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 2px;
    width: 90vw;
    max-width: 600px;
    height: 90vw;
    max-height: 600px;
    border: 3px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
}

/* Sudoku Cells */
input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Prefilled cell styles */
.prefilled {
    background-color: #ccc;
    color: white;
}

/* Correct cell styles */
.correct {
    background-color: #719e7b !important;
    color: #155724 !important;
}

/* Incorrect cell styles */
.incorrect {
    background-color: #f8d7da !important;
    color: #721c24 !important;
}
  
/* Option container styling */
.option-container {
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 25px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
  
/* Headings */
.header-container h1,
.option-container h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #005f99;
    margin-bottom: 12px;
}
  
/* Options list */
.options {
    list-style: none;
    padding: 0;
}
 
/* Options list items */
.options li {
    margin-bottom: 15px;
}