/* src/css/puzzle-page.css */

/* Basic setup */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
}
  
/* Sidebar styling */
.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    overflow-y: auto;
}
  
.sidebar h2 {
    margin-top: 20%;
    text-align: center;
    margin-bottom: 10%;
}
  
.sidebar p {
    margin: 10px 0;
}
  
/* Board styling */
.board {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
  
.board-container {
    margin: 20px 0;
}
  
/* Puzzle buttons */
#puzzle-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
  
.button-link {
    min-width: 150px;
}
  
/* Responsive adjustments */
@media (max-width: 768px) {
    body, html {
      flex-direction: column;
    }
    .sidebar, .board {
      flex: none;
      width: 100%;
    }
}
  