.container {
  height: 100vh;
  overflow: auto;
}

/* Header Styling */
.headerContainer {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.25em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 2;
}

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundBlur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 1;
  pointer-events: none;
}

.optionsContainer {
  position: relative;
  top: -20%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.75em;
  padding: 1.5em;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.optionsHeading {
  font-size: 2rem;
  font-weight: bold;
  color: #005f99;
  margin: 0.75em;
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.Links {
  width: 15em;
}

@media (max-width: 480px) {
  .headerContainer {
    padding: 1em;
  }
}
