/* modal.css */

/* Modal base styling */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styling */
.modalContent {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Modal footer */
.modalFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 20px;
  width: 100%;
}

.buttons {
  width: 14em;
}

.Links {
  width: 11.5em;
}

.resumeButtonContainer {
  /* Add margin above or some spacing */
  margin-top: 1em;
  /* Add a border or horizontal line at the top */
  border-top: 2px solid #ccc;
  padding-top: 1.75em;
}
